@font-face {
    font-family: 'Gotham';
    src: url(../GothamMedium.ttf);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham';
}

::selection {
    background-color: #1ed760;
    color: #fff;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
}

.container {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form h1 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
}

input {
    height: 50px;
    width: 400px;
    outline: none;
    border: 1px solid #ccc;
    color: #000;
    margin: 6px 0;
    padding: 0 10px;
}

input:focus {
    border: 1px solid #1ed760;
}

.check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16px;
    width: 400px;
    margin: 30px 0;
    font-size: 15px;
}

.check a {
    color: #1ed760;
    text-decoration: none;
}

.check a:hover {
    text-decoration: underline;
}

input[type='checkbox'] {
    position: relative;
    height: 16px;
    width: 16px;
    filter: hue-rotate(280deg);
    cursor: pointer;
}

input[type='checkbox']::before {
    content: 'Remember me';
    white-space: nowrap;
    color: #757575;
    position: absolute;
    left: 20px;
}

button {
    height: 50px;
    width: 400px;
    border: none;
    outline: none;
    background-color: #1ed760;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.img {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1ed760;
}

.img img {
    height: 180px;
}

@media screen and (max-width: 1150px) {
    body {
        flex-direction: column;
    }

    .img {
        width: 100%;
    }

    .img img {
        height: 100px;
    }

    .container {
        width: 100%;
        padding: 50px 0;
    }
}

@media screen and (max-width: 450px) {
    input, .check, button {
        width: 300px;
    }
}